# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build
.next.static
.next/standalone

# Misc
.DS_Store
*.pem
*.log

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log
database-debug.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Editor directories and files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarnclean

# macOS
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.Spotlight-V100
.Trashes

# Temp files
*.tmp
*~
